### Pyspark Basic training.

This is my hands-on [Pyspark Tutorial](https://www.youtube.com/watch?v=_C8kWso4ne4&t=894s)Practise 

Where I Learn PySpark which is an interface for Apache Spark in Python.
* Reading the dataset
* connect to Data source 
* exploring the dataframes
* Emblem to perform some machine learning
* Cloud operations wih huge dataset in a clustered system/distributed system

In [2]:
#installing pyspark library
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\elder. g.c nwosu\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\elder. g.c nwosu\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

In [3]:
#importing pyspark

import pyspark

In [4]:
#importing pandas library and our dataset

import pandas as pd
type(pd.read_csv('test1.csv'))

pandas.core.frame.DataFrame

In [5]:
from pyspark.sql import SparkSession

In [12]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [7]:
spark

In [8]:
df_pyspark=spark.read.csv('test1.csv')

In [18]:
#reading the dataset
spark.read.option('header','true').csv('test1.csv')

DataFrame[Name: string, age: string, Experience: string, Salary: string]

In [9]:
#saving it in a variable
df_pyspark=spark.read.option('header','true').csv('test1.csv')

In [10]:
#dataframe datatype
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [19]:
#see the head row
df_pyspark.head()

Row(Name='Krish', age=31, Experience=10, Salary=30000)

In [11]:
# see the column and type like df.info using printschema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)


##### importing PySpark in my Jupyter Notebook and creating a SparkSession object

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Dataframe").getOrCreate()

This creates a SparkSession object with an app name after which i will use the SparkSession object to create DataFrames and perform various data processing tasks using PySpark like;

* Reading The Dataset
*  Checking the Datatypes of the Column(Schema)
* Selecting Columns And Indexing
* Check Describe option similar to Pandas
* Adding Columns
* Dropping columns
* Renaming Columns

In [15]:
## read the dataset and inferschema as true to avaoid it from being seen as strings
df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [16]:
### Check the schema and datatype of the columns
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [17]:
# to see the entire dataset
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [26]:
# to see the type 
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [28]:
# getting the columns
df_pyspark.columns

['Name', 'age', 'Experience', 'Salary']

In [24]:
#selecting columns

df_pyspark.select(['Name','Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

In [29]:
df_pyspark.select(['Age','Salary']).show()

+---+------+
|Age|Salary|
+---+------+
| 31| 30000|
| 30| 25000|
| 29| 20000|
| 24| 20000|
| 21| 15000|
| 23| 18000|
+---+------+

In [25]:
df_pyspark['Name']

Column<'Name'>

In [34]:
#checking the datatypes

df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [35]:
#Check Describe option similar to Pandas

df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  null|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  null| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [37]:
#adding columns in dataframe to show experience after 2 years

df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2).show()

+---------+---+----------+------+-----------------------+
|     Name|age|Experience|Salary|Experience After 2 year|
+---------+---+----------+------+-----------------------+
|    Krish| 31|        10| 30000|                     12|
|Sudhanshu| 30|         8| 25000|                     10|
|    Sunny| 29|         4| 20000|                      6|
|     Paul| 24|         3| 20000|                      5|
|   Harsha| 21|         1| 15000|                      3|
|  Shubham| 23|         2| 18000|                      4|
+---------+---+----------+------+-----------------------+

In [39]:
#dropping columns

df_pyspark.drop('Experience After 2 year').show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [40]:
# renaming a column
df_pyspark.withColumnRenamed('age','Employee_age').show()

+---------+------------+----------+------+
|     Name|Employee_age|Experience|Salary|
+---------+------------+----------+------+
|    Krish|          31|        10| 30000|
|Sudhanshu|          30|         8| 25000|
|    Sunny|          29|         4| 20000|
|     Paul|          24|         3| 20000|
|   Harsha|          21|         1| 15000|
|  Shubham|          23|         2| 18000|
+---------+------------+----------+------+

In [20]:
#creating a temp view to use a direct sql query instead
df_pyspark.createOrReplaceTempView("Employee_data")

In [32]:
spark.sql('select * from Employee_data').show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [33]:
spark.sql('select * from Employee_data where salary > 25000').show()

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
|Krish| 31|        10| 30000|
+-----+---+----------+------+

#### Pyspark Handling Missing Values

- Dropping Columns
- Dropping Rows
- Various Parameter In Dropping functionalities
- Handling Missing values by Mean, MEdian And Mode

In [41]:
# importing our dataset

df_pyspark=spark.read.csv('test2.csv',header=True,inferSchema=True)

In [42]:
#schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [43]:
#viewing our dataset

df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [44]:
##droping the experience columns
df_pyspark.drop('Experience').show()

+---------+----+------+
|     Name| age|Salary|
+---------+----+------+
|    Krish|  31| 30000|
|Sudhanshu|  30| 25000|
|    Sunny|  29| 20000|
|     Paul|  24| 20000|
|   Harsha|  21| 15000|
|  Shubham|  23| 18000|
|   Mahesh|null| 40000|
|     null|  34| 38000|
|     null|  36|  null|
+---------+----+------+

In [45]:
##droping the name columns
df_pyspark.drop('Name').show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|null|      null| 40000|
|  34|        10| 38000|
|  36|      null|  null|
+----+----------+------+

In [51]:
df_pyspark.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [52]:
### any==how
df_pyspark.na.drop(how="any").show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [53]:
##threshold tospecify rows to delete
df_pyspark.na.drop(how="any",thresh=3).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 38000|
+---------+---+----------+------+

In [57]:
##Subset
df_pyspark.na.drop(how="any",subset=['Age']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 38000|
|     null| 36|      null|  null|
+---------+---+----------+------+

In [59]:
#Filling the Missing Value

df_pyspark.na.fill('Missing Values',['Experience','age']).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [55]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [56]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|null|      null| 40000|         29|                 4|         40000|
|     null|  34|        10| 38000|         34|                10|         38000|
|     null|  36|      null|  null|         36|                 4|         20000|
+---------+----+----------+------+-----------+------------------+--------------+